<html>
  <head>
    <title>Hangman</title>
    <style>
    </style>
  </head>
  <body>
    <h1>Let's Play Hangman!</h1>
    <p>
      <%= init_prompt %>
    </p>
    <form>
      <input type='text' name='difficulty' />
      <input type='submit' value='Word Length' />
    </form>
    <p>
      <%= error_difficulty %>
    </p>
  </body>
</html>
