<html>
  <head>
    <style>
    </style>
  </head>
  <body>
    <p>
      <%= error_guess %>
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess Letter' />
    </form>
    <p>
      <%= message %>
    </p>
    <p>
      <%= guess_msg %>
    </p>
  </body>
</html>
